

html {
	/*background: url("../images/roses.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/
	background-color: #B4D5BA;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	display: inline-block;
	padding-top: 1em;
	padding-left: 2em;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	line-height: 1.5em;
	margin: 15px auto;
	display: block;
}


a { 
	text-align: center;
}

#content {
	width: 80%;
	margin: 50px auto;
}

