

html {
/*	background: url("../images/Guilin1.png") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; */
}

header {
	background: #222;
	color: #fff;
	overflow: auto;
}

nav {
	font-size: 10px;
	font-color: 21D5ED;
	display: center;
}

h1 {
	font-family: 'Arial', sans-serif;
	text-align:center;
	font-size: 40px;
	font-weight: 800;
	display: inline-block;
	color: #21D5ED;
	padding: 2%;
}

h2 {
	font-family: 'Arial', sans-serif;
	text-align:left;
	font-size: 20px;
	padding-left: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #21D5ED;
	font-weight: bold;
}

h3 {
	font-family: 'Arial', sans-serif;
	text-align:left;
	font-size: 23px;
	padding-left: 15px;
	padding-top: 20px;
	padding-bottom: 10px;
	margin: 0 auto;
}

section {
	backgroud-color: #d1d1d1;
}

p {
	font-family: 'Arial', sans-serif;
	text-align:left;
	font-size: 15px;
	padding: 0 15px 0 15px;

}

ul {
	font-family: 'Arial', sans-serif;
	text-align: center; 
	list-style: none;
	padding: 0;
}

li {
	font-family: 'Arial', sans-serif;
	text-align:center;
}

img {
    display: inline-block; 
    color: #FF8B24;
   
}

a {
	text-decoration: none;
	color: orange;
	display: block;
}

a:visited {
	color: orange;
}
a:hover {
	color: #173068;
	text-decoration: none;
}

div {
	font-size: 1.2em;
	width: 50%;
	
}

body {
	
}

nav {
	font-size: 1.5em;
	float: center;
}

nav a {
	font-family: 'Arial', sans-serif;
	text-decoration: none;
	color: #000000;
	margin: 1.8em;
	display: inline-block;
}

#wrapper {
	width: 100%;
	margin: 0 auto;
	display: center;
}

#box1 {
float: left;
background-color: white;
width: 320px;
height: 350px;
padding-bottom: 3%
}
#box2 {
float: left;
background-color: white;
width: 320px;
height: 350px;
padding-bottom: 3%
}

#box3 {
float: left;
background-color: white;
width: 320px;
height: 350px;
padding-bottom: 3%
}
#box4 {
float: left;
background-color: white;
width: 320px;
height: 350px;
padding-bottom: 3%
}
#box5 {
float: left;
background-color: white;
width: 320px;
height: 350px;
padding-bottom: 3%
}
#box6 {
float: left;
background-color: white;
width: 320px;
height: 350px;
padding-bottom: 3%
}

#box7 {
	background-color: #d1d1d1;
	width: 100%;
	overflow: auto;

}

footer {
	text-align: center;
	font-family: arial;
	font-size: .8em;
	background-color: #21D5ED;
	padding: 1em 0;
	clear: both;
}

