html {
	background: url(images/Guilin1.jpg) no-repeat center center fixed;
	background-size: cover;
	background-size: cover;
	background-size: cover;
	background-size: cover;
	background-color: 
}

h1 {text-align:center;}
h2 {text-align:center;}
p {text-align:center;}
ul {text-align:center;}
li {text-align:center;}