html {
	background: url("../images/Guilin1.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: #AC0DFF;
}

h1 {
	font-family: "Helvetica", Georgia, Serif;
	text-align:center;
}

h2 {
	font-family: "Helvetica", Georgia, Serif;
	text-align:center;
}

p {
	font-family: "Helvetica", Georgia, Serif;
	text-align:center;
}

ul {
	font-family: "Helvetica", Georgia, Serif;
	text-align: center; 
	list-style: none;
	padding: 0;
}

li {
	font-family: "Helvetica", Georgia, Serif;
	text-align:center;
}

img {
    /*-webkit-border-image:url(border.png) 30 30 round;
    -o-border-image:url(border.png) 30 30 round;
    border-image:url(border.png) 30 30 round;*/
    display: block; 
    margin: 0 auto;
}