html {
	background: url(images/Guilin1.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: #AC0DFF
}

h1 {
	font-family: "Helvetica", Georgia, Serif;
	text-align:center;}
h2 {
	font-family: "Helvetica", Georgia, Serif;
	text-align:center;}
p {
	font-family: "Helvetica", Georgia, Serif;
	text-align:center;}
ul {
	font-family: "Helvetica", Georgia, Serif;
	text-align:center;}
li {
	font-family: "Helvetica", Georgia, Serif;
	text-align:center;}

img {
    -webkit-border-image:url(border.png) 30 30 round; /* Safari 3.1-5 */
    -o-border-image:url(border.png) 30 30 round; /* Opera 11-12.1 */
    border-image:url(border.png) 30 30 round;
}